.input {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.input label {
  font-weight: bold;
  margin-right: 1rem;
}

.input input {
  width: 3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
}

.searchInput {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  justify-content: center;
}

.searchInput input {
  margin-left: 0.5rem;
  width: 40rem;
  /* flex: 1; */
  font-weight: bold;
  border-radius: 5px;
  font: inherit;
  border: 1px solid #ccc;
  padding: 0.25rem 0.5rem;
  /* width: 100%; */
  display: flex;
}